<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1">
    <listeners>
        <listener class-name="config.CustomTestListener"/>
    </listeners>
    <test name="CryptoX - Android">
        <classes>
            <class name="cryptox_AndroidTest.baseClass"/>
            <class name="cryptox_AndroidTest.RecoverAccounts.RecoverAccountThroughFileWallet"/>
        </classes>
    </test>
</suite>
