name: Build

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - '*.md'
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

env:
  java_version: "17"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: "${{env.java_version}}"
          distribution: corretto

      - name: Build preview
        run: ./gradlew app:assemblePreviewDebug --stacktrace
